* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f3fb;
  background-image: url("images/backgrounds/background1Large.webp"),
    url("images/backgrounds/backgroundBackup.webp");
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #240046;
  line-height: 1.6;
  opacity: 1;
  font-family: "Manrope", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.9s ease, color 0.3s ease;
}

body::before {
  position: fixed;
  content: "";
  background-image: url("images/backgrounds/background1Large.webp"),
    url("images/backgrounds/backgroundBackup.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(1px);
  opacity: 0;
  z-index: -1;
  animation: fadeIn 3s forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 0.1;
  }
}

body::after {
  content: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f2e56;
  background-color: #14015e68;
  padding: 1rem 1.7rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.9s ease, color 0.6s ease;
  backdrop-filter: blur(20px);
}

button,
a {
  cursor: url("images/cursor/cursorButtons&A.cur"), auto;
  font-family: "Orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

#toggleModeButton {
  background-color: #8338ec;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.6rem 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

#toggleModeButton:hover,
#toggleModeButton:active {
  background-color: #6a00b8;
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px #ff66cc, 0 0 20px #ff66cc;
}

#mobileMenuToggle {
  display: none;
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 2rem;
  padding: 0.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

#mobileMenuToggle:hover {
  color: rgb(89, 141, 219);
  transform: translateY(-2px) scale(1.2);
}

#desktopMenu ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f0e6ff;
  text-decoration: none;
}

#desktopMenu ul li a {
  transition: color 0.3s ease, font-size 0.3s ease;
}

#desktopMenu ul li a:hover,
#desktopMenu ul li a:focus {
  font-size: 1rem;
  transform: translateY(-4px) scale(1.2);
  transition: all 0.3s ease;
}

#desktopMenu ul li:nth-child(odd) a:hover {
  color: #1e90ff;
}

#desktopMenu ul li:nth-child(even) a:hover {
  color: #ff1efb;
}

#mobileMenu {
  position: fixed;
  max-width: 320px;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  padding: 2rem 4rem;
  background-color: #3f2e56f4;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3);
  z-index: 99;
  transform: translateX(100%);
  transition: transform 1.4s ease;
}

#mobileMenu.active {
  display: block;
  transform: translateX(0);
}

#mobileMenu ul li {
  display: flex;
  flex-direction: column;
  color: #f0e9f3;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 1.2rem;
  text-align: center;
  transition: transform 0.3s ease;
}

#mobileMenu ul li a:hover,
#mobileMenu ul li a:focus {
  color: #03a9f4;
  transform: scale(1.1);
  transform: translateY(-4px) scale(1.2);
}

nav a {
  color: #f0f0f0;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 0.5rem 1rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.heroSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1100px;
  background-image: url("images/backgrounds/background1Large.webp"),
    url("images/backgrounds/backgroundBackup.webp");
  background-size: cover;
  background-position: top left;
  position: relative;
  margin: 2rem auto;
  min-height: 450px;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.heroSectionContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.heroSectionContent h1 {
  font-size: 3.5rem;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.8rem;
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

.headerAnimation {
  flex-wrap: wrap;
  gap: 0.6rem;
}

.headerAnimation span {
  display: inline-block;
  letter-spacing: -5px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lastLetter,
.accentLetters {
  color: #e209ed;
  transition: color 0.3s ease;
}

.lastLetter:hover,
.accentLetters:hover {
  color: rgb(255, 100, 255);
}

.heroSectionContent h2 {
  font-weight: 400;
  color: #e0e0e0;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 1s ease-out forwards;
  animation-delay: 0.3s;
  font-family: "Roboto Mono", "Roboto", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.9rem;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutSectionContainer {
  display: flex;
  align-items: center;
  max-width: 1100px;
  background-color: #3f2e56e1;
  /* background-image: url("images/backgroundBody.webp");*/
  padding: 3rem 6rem;
  margin: 3rem auto;
  gap: 2rem;
  border-radius: 1.5rem;
  color: #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.9s ease, color 0.6s ease;
  flex-wrap: nowrap;
}

#profileImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  border: 5px solid #8338ec;
  transition: transform 9s ease;
}

#profileImage:hover {
  transform: rotate(360deg);
}

.aboutSectionText h2 {
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #8338ec;
}

.nameHighlight {
  color: #d889ff;
}

.aboutSectionText {
  /*background-color: #270d38bb;*/
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: #e0e0e0;
  max-width: 640px;
  line-height: 1.8;
  text-align: left;
  font-size: 1.05rem;
  font-weight: 600;
}

.aboutSectionText p {
  margin-bottom: 1rem;
  padding: 0rem;
  font-size: 1.05rem;
}

.aboutSectionButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#seeMoreButton,
.cvButton {
  display: inline-block; /*make buttons hover*/
  background-color: transparent;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.7rem 1.8rem;
  border: 2px solid #8338ec;
  border-radius: 2rem;
  font-weight: 700;
  transition: all 0.4s ease;
  margin: 0.3rem;
  margin-top: 1rem;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

#seeMoreButton {
  background-color: rgb(152, 12, 251);
}

#seeMoreButton:hover,
#seeMoreButton:focus {
  background-color: #8338ec;
  color: #fff;
  transform: scale(1.09);
  box-shadow: 0 0 10px #ff66cc, 0 0 20px #ff66cc;
}

.cvButton:hover,
.cvButton:active {
  background-color: #bd55cd;
  color: #fff;
  outline: none;
  transform: scale(1.09);
  box-shadow: 0 0 10px #ff66cc, 0 0 20px #ff66cc;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1c7fd;
  padding: 2.5rem;
  max-width: 700px;
  width: 95%;
  border-radius: 1rem;
  color: #000000;
  box-shadow: 0 0 20px rgba(131, 56, 236, 0.8);
}

.modalContent h2 {
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.2rem;

  color: #8338ec;
}

.modalContent p {
  line-height: 1.6;
  text-align: left;
  max-width: 70vw;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0rem;
  font-size: 1.05rem;
}

#modalCloseButton,
#mobileMenuCloseButton {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.7rem;
  color: #f0f0f0;
  transition: color 0.3s ease, transform 0.2s ease;
}

#modalCloseButton:hover,
#modalCloseButton:active,
#mobileMenuCloseButton:hover,
#mobileMenuCloseButton:active {
  color: #ff4d6d;
  transform: rotate(90deg);
}

.projectSectionContainer {
  margin: 2rem;
}

.projectSectionContainer h2 {
  text-align: center;
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  color: #8338ec;
  font-weight: 700;
}

.projectSectionContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1f1f1f;
  width: 370px;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-18px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

.project h3 {
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  color: #8338ec;
  font-size: 1.5rem;
}

.project p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
  margin-top: auto;

  margin-bottom: 1rem;
}

.project a {
  text-decoration: none;
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: #8338ec;
  font-weight: 600;
  margin-top: 0.5rem;
  margin: 0.24rem;
  transition: color 0.3s ease;
}

.project a:hover,
.project a:focus {
  text-decoration: none;
  color: #b38feb;
}

.projectLinks {
  margin-top: auto;
}

.projectImage {
  object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  max-width: 700px;
  height: 300px;
  border: 3px solid #ff69b4;
  display: block;
}

.skillsSectionContainer {
  max-width: 1000px;
  margin: 3rem auto;
  background-color: #f7f3fbc7;
  background-color: #2d56fbb4;
  background-color: #aa88fff7;
  color: #240046;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: background-color 0.9s ease, color 0.6s ease;
  flex-wrap: wrap;
}

.skillsSectionContainer h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: #1f1ff1;
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

.skillsSectionContainer p {
  color: #f0eaf9;
  font-size: 1.18rem;
  max-width: 800px;
}

.skillsList {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  gap: 1.5rem;
  font-family: "JetBrains Mono", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  list-style: none;
  flex-wrap: wrap;
}

.skillsList li {
  background-color: #8338ec;
  background-color: #e572e9;
  background-color: #c84dee;
  padding: 0.8rem 1.6rem;
  font-weight: 500;
  color: white;
  font-family: "Roboto Mono", "roboto", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 2rem;
  background-color: background-color 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.skillsList li:hover,
.skillsList li:active {
  background-color: #ff4d6d;
  box-shadow: 0 6px 15px rgba(255, 77, 109, 0.4);
}

.skillsSectionIntro {
  max-width: 750px;
  margin: 0 auto 2.5rem;
  font-size: 1.1rem;
  color: #3b2c57;
  line-height: 1.7;
}

.skillsIcon {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}

.contactSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  background-color: #3f2e56e1;
  padding: 3rem 1rem;
  border-radius: 2rem;
  margin: 0 auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transition: background-color 50s ease;
}

.contactSectionContainer:hover {
  background-color: #fb81ffaa;
  outline: 2px solid #aaa;
}

.contactFormGroup h2 {
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 2.5rem;
  color: #ede7f5;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
  animation: fadeIn 5s forwards;
}

.contactFormWrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  gap: 0.9rem;
  transition: transform 0.3s ease;
}

.contactFormGroup label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.contactFormGroup input,
.contactFormGroup textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 1em;
  border: 1.5px solid #555;
  background-color: #121212;
  color: #eee;
  font-size: 1rem;
  font-family: "orbitron", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.contactFormGroup input:focus,
.contactFormGroup textarea:focus {
  outline: none;
  border-color: #8338ec;
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.contactSubmitButton {
  display: block;
  background-color: #8338ec;
  border: none;
  padding: 0.8rem 1.6rem;
  margin: 2rem auto 0 auto;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px #ff66cc, 0 0 20px #ff66cc;
}

.contactSubmitButton:hover,
.contactSubmitButton:focus {
  background-color: #6a00b8;
  transform: scale(1.03) translateY(-2px);
  color: #fff;
  box-shadow: 0 8px 20px rgba(131, 56, 236, 0.5);
}

.socialMediaLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  gap: 1rem;
}

.socialMediaIconHero {
  width: 30px;
  height: 30px;
  cursor: url("images/cursor/cursorIcons.cur"), auto;
  filter: invert(100%) brightness(1.2);
}

.socialMediaIconContact {
  margin-top: 0.3rem;
  width: 35px;
  height: 35px;
  cursor: url("images/cursor/cursorIcons.cur"), auto;
  filter: invert(100%) brightness(1.2);
}

.socialMediaLinks a {
  transition: transform 0.3s ease;
}

.socialMediaLinks a:hover,
.socialMediaLinks a:focus {
  transform: scale(1.1);
}

#backToTopButton {
  position: fixed;
  z-index: 1000;
  background-color: #8338ec;
  bottom: 2rem;
  right: 2rem;
  border: none;
  padding: 0.8rem 1.4rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

#backToTopButton:hover,
#backToTopButton:focus {
  background-color: #6a00b8;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(131, 56, 236, 0.5);
}

footer {
  background-color: #222;
  background-color: #14015e68;
  padding: 2rem 1rem;
  color: #eee;
  font-size: 1rem;
  margin-top: 2rem;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  list-style: none;
  text-transform: uppercase;
  gap: 1rem;
}

footer ul li a {
  font-size: 0.9rem;
  display: inline-block;
  transition: color 0.3s ease, font-size 0.3s ease, transform 0.9s;
}

footer ul li a:hover,
footer ul li a:focus {
  font-size: 1rem;
  transition: all 0.3s ease;
  transform: translateY(-4px) scale(1.2);
}

footer ul li:nth-child(odd) a:hover {
  color: #1e90ff;
}

footer ul li:nth-child(even) a:hover {
  color: #ff1efb;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeIn.visible.slideUp {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.darkMode {
  background-color: #121212;
  color: #f0f0f0;
}

body.darkMode::before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(32, 10, 51, 0.905)),
    url("images/backgrounds/background1Large.webp"),
    url("images/backgrounds/background2Large.webp");
}

body.darkMode header {
  background-color: #1a1a1a86;
  color: #ffffff;
}

body.darkMode nav a:hover,
body.darkMode nav a:focus {
  color: #b38feb;
}

body.darkMode .heroSectionContent h1,
body.darkMode .heroSectionContent h2 {
  color: #f0f0f0;
}

body.darkMode .aboutSectionText h2,
body.darkMode .projectSectionContainer h2,
body.darkMode .project h3,
body.darkMode .modalContent h2,
body.darkMode .skillsSectionContainer h2,
body.darkMode .contactFormGroup h2 {
  color: #b38feb;
}

body.darkMode .aboutSectionContainer {
  background-color: #0c0614b3;
  color: #f0f0f0;
}

body.darkMode .modalContent {
  background-color: #1a1a1a;
  color: #fbb9ff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

body.darkMode #seeMoreButton {
  color: #b38feb;
  border-color: #b38feb;
}

body.darkMode #seeMoreButton:hover,
body.darkMode #seeMoreButton:focus {
  background-color: #b38feb;
  color: #121212;
}

body.darkMode .project {
  background-color: #1a1a1af0;
  color: #f0f0f0;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
}

body.darkMode .project:hover,
body.darkMode .project:active {
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.2);
}

body.darkMode .project a {
  color: #b38feb;
}

body.darkMode .project a:hover {
  color: #e0baff;
}

body.darkMode .skillsSectionContainer {
  background-color: #1a1a1af0;
  color: #f0f0f0;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
}

body.darkMode .skillsSectionIntro {
  color: #e0e0e0;
}

body.darkMode .skillsList li {
  background-color: #9c45ca;
}

body.darkMode .skillsList li:hover {
  background-color: #b38feb;
  box-shadow: 0 6px 15px rgba(156, 69, 202, 0.4);
}

body.darkMode .contactSectionContainer {
  background-color: #0c06148b;
  color: #fbb9ff;
}

body.darkMode #backToTopButton {
  background-color: #9c45ca;
  color: #f0f0f0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

body.darkMode #backToTopButton:hover {
  background-color: #b38feb;
  box-shadow: 0 8px 20px rgba(156, 69, 202, 0.5);
}

body.darkMode .contactSubmitButton,
body.darkMode #toggleModeButton {
  background-color: #9c45ca;
  color: #f0f0f0;
  box-shadow: 0 6px 15px rgba(156, 69, 202, 0.4);
}

body.darkMode .contactSubmitButton:hover,
body.darkMode #toggleModeButton:hover {
  background-color: #b38feb;
  box-shadow: 0 8px 20px rgba(156, 69, 202, 0.5);
}

body.darkMode .contactFormGroup input,
body.darkMode .contactFormGroup textarea {
  border-color: #f18bf8;
  background-color: #0d0d0d;
  color: #ffffff;
}

body.darkMode .contactFormGroup input:focus,
body.darkMode .contactFormGroup textarea:focus {
  border-color: #b38feb;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

body.darkMode footer {
  background-color: #09142b5e;
  color: white;
}

@media (max-width: 980px) {
  #mobileMenuToggle {
    display: block;
  }
  #desktopMenu {
    display: none;
  }
}

@media (max-width: 900px) {
  .aboutSectionContainer {
    flex-direction: column;

    max-width: 80vw;
  }

  .aboutSectionText p {
    max-width: 600px;
    text-align: center;
  }
}

@media (max-width: 860px) {
  .modalContent {
    max-width: 90vw;
    margin-top: 2rem;
    overflow: hidden;
    overflow-y: auto;
    max-height: 90vh;
  }

  #modalCloseButton {
    top: 1rem;
  }

  footer {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("images/backgrounds/background1Medium.webp"),
      url("images/backgrounds/background2Medium.webp");
  }

  body::before {
    background-image: url("images/backgrounds/background1Medium.webp"),
      url("images/backgrounds/background2Medium.webp");
  }

  .aboutSectionContainer {
    flex-direction: column;
    padding: 2rem 1.5rem;
  } /*check*/

  .aboutSectionText {
    font-size: 1rem;
    max-width: 400px;
  }

  .aboutSectionText h2 {
    font-size: 2.1rem;
    margin-bottom: 0.6rem;
  }

  .projectSectionContainer h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .project {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.7s ease;
  }

  .project:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  }

  .project h3 {
    font-size: 1.3rem;
  }

  .skillsSectionContainer {
    padding: 3rem 1.5rem;
  }

  .skillsSectionContainer h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .skillsSectionIntro {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .skillsList li {
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
  }

  .skillsIcon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;
  }

  .contactSectionContainer {
    padding: 3rem 1.5rem;
  }

  .contactFormGroup h2 {
    font-size: 2.2rem;

    margin-bottom: 1.5rem;
  }

  .contactFormGroup input,
  #message {
    margin: 0;

    margin-top: 0.1rem;
  }

  .contactSubmitButton {
    width: auto;
    max-width: 250px;
  }

  .socialMediaIconHero {
    z-index: 10;
  }

  .heroSectionContainer {
    min-height: 350px;
  }

  .heroSectionContent h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .heroSectionContent h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .socialMediaIconContact {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 680px) {
  .heroSectionContent h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url("images/backgrounds/background1Small.webp"),
      url("/images/backgrounds/background2Small.webp");
  }

  body::before {
    background-image: url("images/backgrounds/background1Small.webp"),
      url("/images/backgrounds/background2Small.webp");
  }
  header {
    padding: 0.8rem 1rem;
  }

  #toggleModeButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .heroSectionContainer {
    padding: 2.5rem 1rem;
    min-height: 300px;
    margin-top: 1.5rem;
  }

  .heroSectionContent h1 {
    font-size: 2.4rem;
  }

  .heroSectionContent h2 {
    font-size: 1.3rem;
  }

  .aboutSectionContainer {
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  #profileImage {
    width: 200px;
    height: 200px;
  }

  .aboutSectionText h2 {
    font-size: 1.8rem;
  }

  .aboutSectionText p {
    font-size: 0.95rem;
  }

  .modalContent {
    padding: 2rem 1.5rem;
  }

  .modalContent h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .modalContent p {
    font-size: 0.9rem;
  }

  #modalCloseButton {
    font-size: 1.5rem;
  }

  #seeMoreButton {
    padding: 0.7rem 1.5rem;
    font-size: 0.95rem;
  }

  .projectSectionContainer {
    margin: 2rem auto;
  }

  .projectSectionContainer h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .project {
    width: 100%;
    padding: 1rem;
  }

  .project h3 {
    font-size: 1.2rem;
  }

  #backToTopButton {
    bottom: 1rem;
    right: 1rem;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    z-index: 1000;
    position: fixed;
  }

  .skillsSectionContainer {
    padding: 2.5rem 1rem;
  }

  .skillsSectionContainer h2 {
    font-size: 1.8rem;
  }

  .skillsSectionIntro {
    font-size: 0.9rem;
  }

  .skillsList li {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
  }

  .skillsIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
  }

  .contactSectionContainer {
    padding: 2.5rem 1rem;
  }

  .contactFormGroup h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .contactFormGroup label {
    font-size: 0.95rem;
  }

  .contactFormGroup input,
  .contactFormGroup textarea {
    padding: 0.7rem 0.8rem;
    font-size: 0.9rem;
  }

  .contactSubmitButton {
    padding: 0.7rem 1.5rem;
    font-size: 0.8rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .socialMediaLinks {
    margin-top: 0;
    gap: 1.5rem;
  }
}
